@model List<Symphony_Limited.Models.Subject>
@{
    Layout = "~/Views/shared/_LayoutDashboard.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">All Courses</h4>
            <p class="card-description">
             <a asp-controller="Course" asp-action="AddCourse"> Add new course</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Course Id</th>
                            <th>Course Name</th>
                            <th>Course Description</th>
                            <th>Duration</th>
                            <th>Fees</th>
                            <th>Course Image</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            @foreach (var subject in Model)
                            {
                                <tr>
                          
                                <td>@subject.Subject_Id</td>
                                <td>@subject.SubjectName</td>
                                <td>@subject.SubjectDescription</td>
                                <td>@subject.Duration</td>
                                <td>@subject.Fees</td>
                                <td><img src="~/images/@subject.SubjectImgName" /></td>
                                <td>@subject.Created_at</td>
                                <td>
                                    <a class="btn btn-outline-primary" asp-controller="Course" asp-action="EditCourse" asp-route-id="@subject.Subject_Id">Edit</a>
                                    <form class="mt-3" method="post">
                                        <button class="btn btn-outline-danger" type="submit" asp-controller="Course" asp-action="DeleteCourse" asp-route-id="@subject.Subject_Id">Delete</button>
                                    </form>
											</td>
										</tr>
                            
                            }
                        
                        </tbody>
                        </table>
                        
                    </div>
                        </div>
                        </div>
                        </div>
        </div>
    </div>
</div>
@*
<a asp-controller="Course" asp-action="AddCourse">Add new Course</a>

<table class="table">
    <thead>
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>CourseDescription</th>
            <th>Duration</th>
            <th>Fees</th>
            <th>CourseImg</th>
            <th>Created At</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Course_Id</td>
                <td>@course.CourseName</td>
                <td>@course.CourseDescription</td>
                <td>@course.Duration</td>
                <td>@course.Fees</td>
                <td>@course.CourseImg</td>
                <td>@course.Created_at</td>
                <td>
                    <a class="btn btn-outline-primary" asp-controller="Course" asp-action="EditCourse" asp-route-id="@course.Course_Id">Edit</a>
                    <form class="mt-3" method="post">
                        <button class="btn btn-outline-danger" type="submit" asp-controller="Course" asp-action="DeleteCourse" asp-route-id="@course.Course_Id">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
*@