@model Student
<div class="untree_co-hero overlay" style="background-image: url('images/img-school-1-min.jpg');">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12">
                <div class="row justify-content-center ">
                    <div class="col-lg-6 text-center ">
                        <h1 class="mb-4 heading text-white" data-aos="fade-up" data-aos-delay="100">Exam Result</h1>
                        <div class="mb-5 text-white desc mx-auto" data-aos="fade-up" data-aos-delay="200">
                        </div>



                    </div>


                </div>

            </div>

        </div> <!-- /.row -->
    </div> <!-- /.container -->

</div> <!-- /.untree_co-hero -->

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
		<div class="card">		
        <div class="card-body">
  
              <div class="table-responsive pt-3 " data-aos="fade-up" data-aos-delay="0">
                            <h3 class="card-title text-primary">Search Result</h3>
                           
                            <form method="get">
                                <input type="text" name="rollNumber" class=" w-full pl-10 pr-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500" placeholder="Enter Your Roll Number" required />
                                <button type="submit" class="btn btn-primary">Search</button>
								</form>
							
             <h3 class="line-bottom text-center mb-4">Exam Results</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr> 
                            <th>Roll Number</th>
                            <th>Student Name</th>
                            <th>Marks</th>
                            <th>Class Assigned</th>
                            <th>Fees Paid</th>
                        </tr>
						</thead>
                      <tbody>
                                    @if (Model != null)
                                    {
                                        <tr>
                                        
                                        <td>@Model.RollNumber</td>
                                        <td>@Model.StudentName</td>
                                        <td>@Model.Marks</td>
                                        <td>@Model.Class_Assigned</td>
										<td>$@Model.Fees_Paid</td>
										</tr>
                                    }
                                   
								</tbody>
                                
							</table>
                            <p style="color: red;">@ViewBag.Message</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>



